<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbeam.dao.mappering.MessageMpper" >

    <resultMap id="BaseResultMap" type="com.sbeam.dao.pojo.Message" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="gamename" property="gamename" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />

    </resultMap>
    <!--评论全部展示-->
    <select id="listAllMessage" parameterType="com.sbeam.dao.pojo.Message" resultType="com.sbeam.dao.pojo.Message" >
    SELECT
    a.id,b.username,c.gamename, a.content
    FROM
    (comment a LEFT JOIN gamer_info b ON a.user_id=b.id )
    LEFT JOIN
    game_info c ON a.speak_id= c.id

  </select>

    <delete id="delMessage" parameterType="java.lang.Integer">
        delete
        from
         comment
          where id=#{id}
    </delete>


</mapper>