<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbeam.dao.mappering.TbGameMapper" >
  <resultMap id="BaseResultMap" type="com.sbeam.dao.pojo.TbGame" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gamename" property="gamename" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="now_price" property="nowPrice" jdbcType="DECIMAL" />
    <result column="lowest_price" property="lowestPrice" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="developer" property="developer" jdbcType="VARCHAR" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="about_topicid" property="topicId" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
      id, gamename, original_price, now_price, lowest_price, discount, type, intro, file_path,
      img_path, developer, sales, about_topicid, flag
  </sql>
  <select id="SelectIsDiscount" parameterType="java.lang.String" resultType="java.lang.Double">
  select
  discount
  from
  game_info
  where
  gamename=#{gamename}
</select>
  <select id="selectOneGame" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from
    game_info
    where
    flag=1 and
    gamename=#{gamename}
  </select>
  <update id="updateOneGame" parameterType="com.sbeam.dao.pojo.TbGame">
    update
    game_info
    <trim prefix="set" suffixOverrides=",">
      <if test="originalPrice!=null">original_price=#{originalPrice},</if>
      <if test="nowPrice!=null">now_price=#{nowPrice},</if>
      <if test="lowestPrice!=null">lowest_price=#{lowestPrice},</if>
      <if test="discount!=null">discount=#{discount},</if>
      <if test="type!=null">type=#{type},</if>
      <if test="intro!=null">intro=#{intro},</if>
      <if test="filePath!=null">file_path=#{filePath},</if>
      <if test="imgPath!=null">img_path=#{imgPath},</if>
      <if test="developer!=null">developer=#{developer},</if>
      <if test="sales!=null">sales=#{sales},</if>
      <if test="flag!=null">flag=#{flag},</if>
      <if test="topicId!=null">about_topicid=#{topicId},</if>
    </trim>
    where
    gamename=#{gamename}
  </update>
  <insert id="insertOne" parameterType="com.sbeam.dao.pojo.TbGame">
    insert
    into
    game_info
    (gamename, original_price, now_price, lowest_price, discount, type, intro, file_path,
      img_path, developer)
    values
    (#{gamename},#{originalPrice},#{nowPrice},#{discount},#{type},#{intro},#{filePath},#{imgPath},#{developer})
  </insert>
  <select id="selectOneForid" parameterType="java.lang.Integer" resultType="com.sbeam.dao.pojo.TbGame">
    select
    *
    from
    game_info
    where
    id=#{id} and
    flag=1
  </select>

  <select id="getNewsInfoBy" resultType="com.sbeam.dao.pojo.TbGame" resultMap="BaseResultMap">

  select
*
  from
  game_info
  where
  flag="1"
 </select>

  <update id="deleArticeById" parameterType="com.sbeam.dao.pojo.TbGame">
        update game_info
        set
        flag = '0'
        where id=#{id};

    </update>


  <update id="allDeleAtricleByIds" parameterType="com.sbeam.dto.ArrayListVo">
    update game_info
    set
    flag = '1'
    where
    id in(
    <foreach collection="unIds" item="Id" separator=",">
      #{Id}
    </foreach>
    )


  </update>




</mapper>